@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="file"] {
  padding: 0;
  margin-top: 0.5rem;
  color: rgb(214, 211, 209);
  font-size: 12px;
}
input[type="file"]::file-selector-button {
  color: #ffffff;
  background: rgb(73, 105, 137);
  padding: 0.4rem;
  height: 100%;
  border: none;
}

input[type="url"] {
  margin-top: 0.5rem;
  padding: 0.36rem;
}
